
<!--Enter your creadit card:<input type="text" [(ngModel)]="vv">
<p>{{vv|transform}}</p>
Enter your creadit card:<input type="text" [(ngModel)]="d">
<select [(ngModel)]="d1">
  <option value="year">"year"</option>
  <option value="month">"month"</option>
  <option value="day">"day"</option>
  <option value="fulldate">"fulldate"</option>

</select>

<p>{{d|trandate:d1}}</p>
<div class="row">
<div class="col-6"><h3>Date:</h3>
{{todayDate | date:"mediumDate"}}
</div>
<div class="col-6"><h3>Currency</h3>
<p>{{12345 | currency:"EUR"}}   {{12345 | currency:"USD"}}</p>
</div></div>-->
